#include <stdio.h>

int countSequences(int n) {
    int MOD = 12345;
    int dp[n+1];
    int i;

    // Ініціалізуємо dp[0], dp[1] і dp[2]
    dp[0] = 1;
    dp[1] = 2;
    dp[2] = 4;

    // Обчислюємо dp[i] для i = 3 до n
    for (i = 3; i <= n; i++) {
        dp[i] = (dp[i-1] + dp[i-2] + dp[i-3]) % MOD;
    }

    return dp[n];
}

int main() {
    int n;
    printf("Введіть довжину послідовності n: ");
    scanf("%d", &n);

    if (n <= 1 || n >= 10000) {
        printf("Невірний ввід. Будь ласка, введіть число n в межах (1, 10000).\n");
        return 0;
    }

    int result = countSequences(n);
    printf("Кількість шуканих послідовностей: %d\n", result);

    return 0;
}
